# Vim stuff
*~
.*.sw?

# Visual Studio stuff
*.vcxproj*
*.sln
*.*sdf
Debug/
Release/
ipch/

# CMake Stuff
CMakeCache.txt
cmake_install.cmake
CMakeFiles/

# Maven stuff
/target/
/trash/
/bin/

/log/

# Eclipse stuff
.classpath
.project
.springBeans
.settings/
.cache
.cache-main
.cache-tests
hs_err_pid*.log

# vim stuff
.swp

# xterm stuff
xterm.exe.stackdump

/src/main/resources/investigate/

# terraform stuff
src/main/terraform/test/
