<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" status="info" xmlns="http://logging.apache.org/log4j/2.0/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config 
    https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd">

    <Properties>
        <Property name="pat">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %location | %msg\n</Property>
        <Property name="dir">C:\Program Files\AQA\log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pat}" />
        </Console>

        <RollingFile name="RollingFile">
            <FileName>${dir}\AQA.log</FileName>
            <FilePattern>${dir}\AQA-%d{yyyy-MM-dd}.log</FilePattern>
            <PatternLayout pattern="${pat}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>
