.c3-axis-x text {
	font-size: 14px;
}

.c3-axis-y text {
	font-size: 14px;
}

.c3-ygrid-line.tolerance line {
    stroke: red;
    stroke-dasharray: 5,5;
}

.c3-ygrid-line.baseline line {
    stroke: green;
    stroke-dasharray: 1,5;
}
